/*
 * styles for github repos page
 */

#github-loading {
	padding: 100px 0;
}

#repos {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.repo {
	position: relative;
	padding: 0;
}

.repo:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 60px solid transparent;
	border-left: 60px solid transparent;
	border-right: 60px solid #ccc;
	pointer-events: none;
}

.repo > a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	padding: 14px 18px;
	margin: 0;
	height: 278px;
}

.repo > a:hover {
	background-color: #dfdfdf;
}

.repo > a > h2 {
	font-size: 20px;
	color: #06c;
	padding: 0 30px 10px 0;
	margin: 0 0 10px 0;
	line-height: 26px;
}

.repo > a > p {
	font-size: 13px;
	color: #333;
}

.repo > a > h2 > p.repo-language,
.repo > a > h2 > p.repo-update {
	padding: 3px 0 0 0;
	margin: 0;
	font-size: 13px;
	color: #777;
	font-weight: normal;
	line-height: 15px;
}

.repo.c:after {
	border-right-color: #555;
}

.repo.cpp:after {
	border-right-color: #f34b7d;
}

.repo.javascript:after {
	border-right-color: #f15501;
}

.repo.php:after {
	border-right-color: #6e03c1;
}

.repo.java:after {
	border-right-color: #b07219;
}

.repo.python:after {
	border-right-color: #3581ba;
}

.repo.go:after {
	border-right-color: #a89b4d;
}

.repo.ruby:after {
	border-right-color: #701516;
}

.repo.lua:after {
	border-right-color: #fa1fa1;
}

.repo.erlang:after {
	border-right-color: #0faf8d;
}

.repo.scala:after {
	border-right-color: #7dd3b0;
}

.repo.cs:after {
	border-right-color: #5a25a2;
}

.repo.perl:after {
	border-right-color: #0298c3;
}

.repo.haskell:after {
	border-right-color: #29b544;
}

.repo.css:after {
	border-right-color: #1f085e;
}

.repo.tcl:after {
	border-right-color: #e4cc98;
}

.repo.shell:after {
	border-right-color: #5861ce;
}